<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <!-- Needed by Panopto API for cookie-based authentication -->
      <behaviors>
        <endpointBehaviors>
          <behavior name="EnableCookieManager">
            <cookieManager />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <extensions>
        <behaviorExtensions>
          <add name="cookieManager" type="PanoptoAPITest.CookieManagerBehaviorExtension, PanoptoAPITest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IAuth" allowCookies="false" maxReceivedMessageSize="6553560">
            <security mode="Transport">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_IRemoteRecorderManagement" allowCookies="false"
            maxReceivedMessageSize="6553560">
            <security mode="Transport">
              <transport realm="" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <!-- behaviorConfiguration attribute is needed by Panopto API for cookie-based authentication -->
            <endpoint address="https://localhost/Panopto/PublicAPISSL/4.0/Auth.svc"
                      behaviorConfiguration="EnableCookieManager"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuth"
                      contract="Auth.IAuth" name="BasicHttpBinding_IAuth" />
            <endpoint address="https://localhost/Panopto/PublicAPISSL/4.0/RemoteRecorderManagement.svc"
                      behaviorConfiguration="EnableCookieManager"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement"
                      contract="RemoteRecorderManagement.IRemoteRecorderManagement"
                      name="BasicHttpBinding_IRemoteRecorderManagement" />
        </client>
    </system.serviceModel>
</configuration>